[submodule "dragonGhidra"]
	path = dragonGhidra
	url = https://github.com/lasserre/ghidra
[submodule "astlib"]
	path = astlib
	url = https://github.com/Teijen/astlib
[submodule "datatype-recovery-experiments"]
	path = datatype-recovery-experiments
	url = https://github.com/Teijen/datatype-recovery-experiments
[submodule "wildebeest"]
	path = wildebeest
	url = https://github.com/lasserre/wildebeest
[submodule "dirty"]
	path = dirty
	url = https://github.com/Teijen/DIRTY.git
[submodule "dragon"]
	path = dragon
	url = https://github.com/Teijen/dragon.git
